/* =================================CSS LOGIN==================================== */
body {
font-family: "Segoe UI", sans-serif;
margin: 0;
background: linear-gradient(to right, #e0eafc, #cfdef3);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login-container {
background: #ffffff;
padding: 40px 30px;
border-radius: 16px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
box-sizing: border-box;
}

.login-container h2 {
text-align: center;
margin-bottom: 25px;
color: #333;
font-size: 24px;
}

.login-container input {
width: 100%;
padding: 12px;
margin-bottom: 20px;
border: 1px solid #ddd;
border-radius: 8px;
font-size: 16px;
box-sizing: border-box;
background: #f9f9f9;
}

.password-wrapper {
position: relative;
}

.password-wrapper input {
padding-right: 40px;
}

.password-wrapper i {
position: absolute;
right: 12px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
color: #666;
}

.login-container button {
width: 100%;
padding: 12px;
background: linear-gradient(to right, #5562eb, #7c6df1);
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: 0.3s ease;
}

.login-container button:hover {
opacity: 0.9;
}

.login-container p {
text-align: center;
margin-top: 20px;
font-size: 15px;
color: #555;
}

.login-container a {
color: #6c63ff;
text-decoration: none;
font-weight: 500;
}

.login-container a:hover {
text-decoration: underline;
}

/* =================================CSS REGISTER==================================== */

.register-container {
background: #ffffff;
padding: 40px 30px;
border-radius: 16px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
box-sizing: border-box;
}

.register-container h2 {
text-align: center;
margin-bottom: 25px;
color: #333;
font-size: 24px;
}

.register-container input,
.register-container select {
width: 100%;
padding: 12px;
margin-bottom: 20px;
border: 1px solid #ddd;
border-radius: 8px;
font-size: 16px;
background: #f9f9f9;
box-sizing: border-box;
}

.password-wrapper {
position: relative;
}

.password-wrapper input {
padding-right: 40px;
}

.password-wrapper i {
position: absolute;
right: 12px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
color: #666;
}

.register-container button {
width: 100%;
padding: 12px;
background: linear-gradient(to right, #5562eb, #7c6df1);
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: 0.3s ease;
}

.register-container button:hover {
opacity: 0.9;
}

.login-redirect {
margin-top: 15px;
font-size: 14px;
color: #555;
}

.login-redirect a {
color: #007BFF;
text-decoration: none;
}

.login-redirect a:hover {
text-decoration: underline;
}

.register-container a:hover {
text-decoration: underline;
}



  